body {
	
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}


.body {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

}



.skills img {
	width: 100px;
}

header img {
	width: 250px;
}

nav li {
	display: inline-block;
}





.skillswrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.skillswrapper div img {
	display: block;
}
h1 {
	font-size: 30px;
}

p {
	font-size: 10px;
}

h2 {
	font-size: 20px;
}



.music img {
	display: block;
}

.music-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	position: relative;
}

.song {
	display: flex;
	
	width: 32%;


}

.infoplayer {
	display: block;
	visibility: hidden;
	text-align: left;
	transition: opacity 1s ease-in-out;
	margin-left: 20px;
	opacity: 0;



}


.songinfo {
	transition: all 1s ease-in-out;
	
}




/* Music Player Animations */

.c1-tsi-1 {

}


.c1-tsi-2 {
	transform: translateX(1000%);
	opacity: 0;
	
}

.c1-tsi-3 {
	transform: translateX(1000%);
	opacity: 0;
	
}


.c1-tip-1 {
	visibility: visible;
	opacity: 1;
	display: inline-block;
	
}

@keyframes positionleftsongcenter {
  0%   { 
    transform: translateX(0%);
  }
  90%   { 
    transform: translateX(40%);
  }
 
  100% { 
  	margin-left: auto;
  	margin-right: auto;
  	right: 0;
  	left: 0;
  	

  }
}


.c1-ts-1 {
	width: 66%;
	position: absolute;
/* 	animation: positionleftsongcenter 1s .2s ease-in-out;
	animation-fill-mode: forwards; */
/* 	left: 50%;
	transform: translateX(-50%); */
}
	
	


.displaynone {
	display: none;
}

* {
	 -webkit-transition: all 1s ease .15s;
    -moz-transition: all 1s ease .15s;
    -o-transition: all 1s ease .15s;
    -ms-transition: all 1s ease .15s;
    transition: all 1s ease .15s;
}