body {
	
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	background-color: pink;
}


.body {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

}



.skills img {
	width: 100px;
}

header img {
	width: 250px;
}

nav li {
	display: inline-block;
}





.skillswrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.skillswrapper div img {
	display: block;
}
h1 {
	font-size: 30px;
}

p {
	font-size: 10px;
}

h2 {
	font-size: 20px;
}







.song {
	display: flex;
	justify-content: space-between;
	width: 32%;
	position: relative;
	overflow: hidden;


}




.songinfo {
	transition: all 1s ease-in-out;
	width: 100%;
	
}

.infoplayer {
	background-color: white;
	text-align: left;
	transition: opacity 1s ease-in-out;
	position: absolute;
	max-width: 100%;
	padding: 10px;
	height: 100%;
	transform: translateX(-100%)


}

.music img {
	width: 100%;
	display: block;
}

.music-wrapper {
	display: flex;
	justify-content: space-between;
}


/* Music Player Animations */

.c1-tsi-1 {

}


.c1-tsi-2 {
	
	transform: translateX(200%);
	opacity: 0;
	
}

.c1-tsi-3 {
	
	transform: translateX(200%);
	opacity: 0;
	
}


.c1-tip-1 {
	visibility: visible;
	opacity: 1;
	display: inline-block;
	
}

@keyframes positionleftsongcenter {
  0%   { 
    transform: translateX(0%);
  }
  20%   { 
    transform: translateX(200%);
    margin-left: auto;
	margin-right: auto;
	opacity: 0;
  }
  90%   { 
  
    margin-left: auto;
	margin-right: auto;
	opacity: 0;
  }
 
  100% { 
  	opacity: 1;
  	margin-left: auto;
	margin-right: auto;

  }
}


.c1-ts-1 {
	width: 66%;
/* 	margin-left: auto;
	margin-right: auto; */

/* 	animation: positionleftsongcenter 1s .2s ease-in-out;
	animation-fill-mode: forwards; */
/* 	left: 50%;
	transform: translateX(-50%); */
}
	
	


/* * {
	 -webkit-transition: opacity 1s ease .15s;
    -moz-transition: opacity 1s ease .15s;
    -o-transition: opacity 1s ease .15s;
    -ms-transition: opacity 1s ease .15s;
    transition: opacity 1s ease .15s;
} */