body {
	
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	background-color: white;
}


.body {
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	height: 100%;

}

header img {
	height: 400px;
}



.skills img {
	width: 100px;
}


nav li {
	display: inline-block;
}





.skillswrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.skillswrapper div img {
	display: block;
}
h1 {
	font-size: 30px;
}

p {
	font-size: 10px;
}

h2 {
	font-size: 20px;
	margin-bottom: 26px;
}

h3 {
	margin-top: 10px;
}

audio {
	max-width: 100%;
}





.song {
	display: flex;
	justify-content: space-between;
	width: 32%;
	position: relative;
	overflow: hidden;


}




.songinfo {
	transition: all 1s ease-in-out;
	width: 100%;
	
}

.songinfo button {
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.infoplayer {
	background-color: white;
	text-align: left;
	transition: all .75s ease-in-out;
	position: absolute;
	max-width: 100%;
	padding: 10px;
	height: 100%;
	transform: translateX(-100%);


}

.infoplayer button {
	position: absolute;
	bottom: 5%;
	right: 5%;
}

.music img {
	width: 100%;
	display: block;
}

.music-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	
}


/* Music Player Animations */



.slide-ip {
	transform: translateX(0);
}


.all-music, .all-portfolio, .all-contact, .all-experience, .all-skills, .all-aboutme{
	max-height: 0;
	overflow: hidden;
	transition: max-height 3s ease-in-out;

}

.slide-height {
	max-height: 2000px;

}

.section-title {
	position: relative;
}

.section-content {
	background-color: white;
	border-radius: 5px;
	border: 1px solid blue;
	width: 95%;
}

.inner-content {
	padding: 10px;
}

.section {
	height: 100%;
}
/* Button Styles */


.switch input {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.switch {
  width: 90px;
  height: 25px;
  position: relative;
  position: absolute;
  top: 0;
  right: 30px;
  /* margin: 100px auto; */
}

.switch label {
  display: block;
  width: 80%;
  height: 100%;
  position: relative;
  background: #1F2736; /*#121823*/
  background: linear-gradient(#121823, #161d2b);
  border-radius: 30px 30px 30px 30px;
  box-shadow: inset 0 3px 8px 1px rgba(0,0,0,0.5),  inset 0 1px 0 rgba(0,0,0,0.5),  0 1px 0 rgba(255,255,255,0.2);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.switch input ~ label i {
  display: block;
  height: 23px;
  width: 23px;
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 2;
  border-radius: inherit;
  background: #283446; /* Fallback */
  background: linear-gradient(#36455b, #283446);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),  0 0 8px rgba(0,0,0,0.3),  0 4px 12px rgba(0,0,0,0.4);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.switch label + span {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 8px;
  width: 9px;
  height: 9px;
  border-radius: 10px;
  background: #283446;
  background: gradient-gradient(#36455b, #283446);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.2),  0 1px  rgba(255,255,255,0.1),  0 0 10px rgba(185,231,253,0),  inset 0 0 8px rgba(0,0,0,0.9),  inset 0 -2px 5px rgba(0,0,0,0.3),  inset 0 -5px 5px rgba(0,0,0,0.5);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
}

/* Toggle */

.switch input:checked ~ label + span {
  content: "";
  display: inline-block;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2;
  background: #b9f3fe;
  background: gradient-gradient(#ffffff, #77a1b9]);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1),  0 1px 0 rgba(255,255,255,0.1),  0 0 10px rgba(100,231,253,1),  inset 0 0 8px rgba( 61,157,247,0.8),  inset 0 -2px 5px rgba(185,231,253,0.3),  inset 0 -5px 5px rgba(185,231,253,0.5);
}

.switch input:checked ~ label i {
  left: auto;
  left: 63%;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),  0 0 8px rgba(0,0,0,0.3),  0 8px 8px rgba(0,0,0,0.3),  inset -1px 0 1px #b9f3fe;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}









/* .lbl {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}

.lbl:active:after { transform: scale(1.15, 0.85); }

.cbx:checked ~ label { background: #6fbeb5; }

.cbx:checked ~ label:after {
  left: 20px;
  background: #179588;
}

.hidden { display: none; }

 */


/* .c1-tsi-1 {

}


.c1-tsi-2 {
	
	transform: translateX(200%);
	opacity: 0;
	
}

.c1-tsi-3 {
	
	transform: translateX(200%);
	opacity: 0;
	
}


.c1-tip-1 {
	visibility: visible;
	opacity: 1;
	display: inline-block;
	
}

@keyframes positionleftsongcenter {
  0%   { 
    transform: translateX(0%);
  }
  20%   { 
    transform: translateX(200%);
    margin-left: auto;
	margin-right: auto;
	opacity: 0;
  }
  90%   { 
  
    margin-left: auto;
	margin-right: auto;
	opacity: 0;
  }
 
  100% { 
  	opacity: 1;
  	margin-left: auto;
	margin-right: auto;

  }
} */


/* .c1-ts-1 {
	width: 66%; */
/* 	margin-left: auto;
	margin-right: auto; */

/* 	animation: positionleftsongcenter 1s .2s ease-in-out;
	animation-fill-mode: forwards; */
/* 	left: 50%;
	transform: translateX(-50%); */
/* } */
	
	


/* * {
	 -webkit-transition: opacity 1s ease .15s;
    -moz-transition: opacity 1s ease .15s;
    -o-transition: opacity 1s ease .15s;
    -ms-transition: opacity 1s ease .15s;
    transition: opacity 1s ease .15s;
} */